@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-VariableFont_wght.ttf") format("ttf"),
    url("../fonts/Rubik-VariableFont_wght.ttf") format("ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #FEFAEF;
    margin: 0;
}

.container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #27355C;
    height: 100%;
    font-size: 1.4em;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-header {
    margin-top: 24px;
    margin-bottom: 48px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-list li {
    color: #9097BA;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
}

.nav-list li:hover {
    color: #E8E8FF;
    cursor: pointer;
}

.nav-item-active {
    color: #FEFFFF !important;
    border-left: #FEFFFF 2px solid;
}

main {
    height: 100%;
}

.btn-orange {
    color: #fff;
    background-color: #FE4F0E;
    border-color: #FE4F0E;
}

.text-orange {
    color: #FE4F0E;
}

#content-card {
    height: 100%;
    width: 700px;
    background-image: url("../img/brainbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.answer-option {
    margin-top: 24px;
    cursor: pointer;
}

.game-over-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.trophy-image {
    position: fixed;
    top: 35%;
    right: 0;
    z-index: 1;
    height: 300px;
    object-fit: contain;
}

.progress-bar {
    background-color: #283558;
}

@media screen and (max-width: 360px) {
    .wrapper {
        display: block;
    }

    .nav-header {
        margin: 12px;
        display: none;
    }

    nav {
        height: 66px;
        flex-direction: row;
        width: 100%;
        font-size: 1.2em;
    }

    .nav-list {
        width: 300px;
        overflow: scroll;
        overflow-scrolling: auto;
    }

    .nav-list li {
        display: inline;
        width: unset;
        margin: 0;
        margin-left: 24px;
    }

    .nav-item-active {
        border: unset;
    }

    #content-card {
        width: 300px;
    }

    .trophy-image {
        height: 100px;
    }
}

@media screen and (min-width: 360px) and (max-width: 700px) {

    .wrapper {
        display: block;
    }

    .nav-header {
        margin: 12px;
    }

    nav {
        height: unset;
        flex-direction: row;
        width: 100%;
        font-size: 1.2em;
    }

    .nav-list {
        width: 210px;
        overflow: scroll;
        overflow-scrolling: auto;
    }

    .nav-list li {
        display: inline;
        width: unset;
        margin: 0;
        margin-left: 24px;
    }

    .nav-item-active {
        border: unset;
    }

    #content-card {
        width: 360px;
    }

    .trophy-image {
        height: 250px;
    }

}

@media screen and (min-width: 700px) and (max-width: 900px) {
    #content-card {
        width: 500px;
    }
}